<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Word Popularity</title>
        {% include('stylesheets.html.twig') %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include('scripts.html.twig') %}
    </body>
</html>
